################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DependencyTreeIssue/DependencyTreeIssue.TestApp/obj
/DependencyTreeIssue/DependencyTreeIssue.TestApp/bin/*
/DependencyTreeIssue/.vs/*
/.vs
